/* New */
@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,100italic,300italic");



#intro {
		background-attachment: fixed;
		background-image: url("../../images/banner-ocean.jpg");
		background-position: center center;
		background-size: cover;
		box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
		min-height: 70vh;
		position: relative;
		z-index: 21;
    padding: 3% 20%;

    /* background-color: #edf7fa;  */

	}


  #console {
    color: white;
    font-size: 24px;
    border-right: 4px solid white;
    width: 65ch;

    animation: type 4s steps(65);
    overflow: hidden;
    white-space: nowrap;
}

@keyframes type {

    0% {
        width:0ch;
    }

    100% {
        width: 65ch;
    }
}




  .classWithPad {
    padding: 30px 90px;
  }


.navbar-transparent {
  background-color: transparent !important;
}



/* Tag Selectors */
body, h1, h2, h3, p {
  font-family: "Roboto", Helvetica, sans-serif;
  color: white;
}

/* IDs */



#about {
  background-color: #35495e;
  color: rgba(23, 24, 32, 0.95);
  padding: 3% 5%;
}

#features {
  background-color: rgba(23, 24, 32, 0.95);
  padding: 3% 5%;

}

#contact {
  background-color: #78a4c2;
  padding: 3% 5%;

}

#footer {
  text-align: center;
  color: black
}


/* Navigaton Elements */
.navbar-brand {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 1.5rem
}

.navbar {
  padding-bottom: 0.5rem;
}

.nav-item {
  padding: 0 8px;
}

.nav-link {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 1rem;

  color: white;
  font-weight: bolder;
}

.active {
  font-weight: normal;
}


/* Buttons */
.btn {
  font-family: "Roboto", Helvetica, sans-serif;
}


.download-button {
  font-size: 1.1rem;
  margin: 3% 2% 3% 0;
  padding: 8px 20px;
}

.social-icon {
  margin: 50px 20px;
}




/* Containers */
.container-fluid {
  padding: 3% 10%;
}

/* Other Classes */

.pricing-column {
  padding: 3% 2%;
}

.center-aligned {
  text-align: center;
}


.left-aligned {
  text-align: left;
}


.black-color {
  color: #000;
}

.width-30-percent {
  width: 30%;
}

.column-padding {
  padding: 3%;
}
